@import "src/Assets/css/base";

.chat_item {
  padding: 16px 25px 16px 15px;
  @include dimension(327px);
  align-items: center;
  cursor: pointer;
  pointer-events: none;
  div{
    pointer-events: none;
  }
  &-round {
    border-radius: 15px;
  }
  &-bgBlue{
    background-color: $color-blue-01;
  }
  &-bgWhite{
    background-color: $primary-color-white;
  }
  .chat_avatar-wrapper {
    position: relative;
    margin-right: 17px;
    .chat_avatar {
      @include dimension(48px, 48px);
      overflow: hidden;

      &-circle {
        border-radius: 50%;
        border: 1px solid $color-blue-02;
      }
      .img-wrapper{
        width: 100%;
        height: 100%;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .chat_status {
      position: absolute;
      @include dimension(9px, 9px);
      display: inline-block;
      border-radius: 50%;
      right: 0;
      bottom: 2px;
      transform: translateX(-50%);
      &-active {
        background-color: $color-green-active;
      }
    }
  }

  .chat-wrapper {
    display: flex;
    justify-content: space-between;
    @include dimension(222px, 100%);
    align-items: center;
    .chat_name {
      margin-bottom: 4px;
      h4 {
        margin: 0;
      }
      &-clWhite{
        @include styleText(800, 16px, 22px, $primary-color-white);
      }
      &-clBlack{
        @include styleText(800, 16px, 22px, $color-black-03);
      }
    }

    .chat_message {
      width: 200px;
      //overflow: hidden;
      h5 {
        margin: 0;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      &-clWhite{
        @include styleText(600, 14px, 19px, $primary-color-white);
      }
      &-clGrey{
        @include styleText(600, 14px, 19px, $primary-color-subtext);
      }
    }

    .chat_time {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: end;
      &-clWhite{
        @include styleText(500, 12px, 16px, $primary-color-white);
      }
      &-clGrey{
        @include styleText(500, 12px, 16px, $color-grey-txt);
      }

      .num-unread-message {
        margin-top: 11px;
        background-color: $color-blue-01;
        @include dimension(16px, 16px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        span {
          @include styleText(700, 10px, 14px, $primary-color-white);
        }
      }
    }
  }

}