@import "src/Assets/css/base";
.container-input{
  padding: 20px 14px 20px 23px;
  background-color: $color-white-01;
  display: flex;
}
.rectangle-16 {
  position: relative;
  width: 869px;
  height: 50px;
  background: $color-blue-02;
  border-radius: 10px;
  padding: 14px 69px;
}

.fa-solid.fa-link {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: $color-blue-03;
}

.fa-regular.fa-face-smile {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: $color-blue-03;
}

.message {

}

.message input {
  width: 100%;
  background-color: transparent;
  font-family: $font-Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $color-blue-03;
  border: none;
  outline: none;
}

.message input::placeholder {
  color: $color-blue-03;
}
.rectangle-17 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: $color-blue-01;
  border-radius: 12px;
  margin-left: 20px;
  outline: none;
  border: none;
  &:focus{
    outline: none;
    border: none;
  }
}
.fa-regular.fa-paper-plane {
  border: none;
  background-color: $color-blue-01;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color-white;
}
