@import "src/Assets/css/base";
.page-chat{
  min-height: 100vh;
  @include dimension(100%,100vh);
  display: flex;
  background-color: $light-mode-color;
  .detail {
    height: 100%;
    width: 100%;
    display: flex;
  }
}
