$primary-color-blue: #5B96F7;
$primary-color-white: #FFFFFF;
$light-mode-color: #F0F4FA;
$primary-color-text: #000000;
$primary-color-subtext: #7C7C7D;
$color-black-03: #030303;
$color-green-active: #76D45E;