$primary-color-blue: #5B96F7;
$primary-color-white: #FFFFFF;
$light-mode-color: #F0F4FA;
$primary-color-text: #000000;
$primary-color-subtext: #7C7C7D;
$color-black-03: #030303;
$color-green-active: #76D45E;
$font-Manrope: 'Manrope', sans-serif;
$color-grey-txt: #686768;
$color-blue-01: #5B96F7;
$color-blue-02: #EAF2FE;
$color-blue-03: #709CE6;
$color-grey-01: #696969;
$color-grey-02: #4B4B4B;
$color-grey-03: #B4B4B4;
$color-grey-04 :#C4C4C4;
