.manrope-w800 {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}
.manrope-w600 {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}
.manrope-w500 {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
}