@import "src/Assets/css/base";
.video_call_window {
  @include positionAbsolute(50%, 50%, unset,unset);
  min-width: 85%;
  min-height: 95%;
  height: 700px;
  background-color: $primary-color-white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid $primary-color-blue;
  transform: translate(-50%, -50%);
  z-index: 100;
  filter: drop-shadow(0px 0px 10px rgba(202, 202, 202, 0.25));
  border-radius: 30px;
  display: flex;
  ustify-content: center;
  align-items: center;
  padding: 35px 10px 10px 10px;
  transition: all 0.3s linear;
  .grid_view-container{
    width: 100%;
    height: 100%;
    @include flexMiddle();
    //justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 30px;
    .ic-scale-window{
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer;
    }
  }
  .sidebar_container {
    align-items: center;
    width: 17%;
    flex-direction: column;
    justify-content: start;
  }
  .connecting-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    p{
      margin-top: 100px;
      @include styleText(800,30px, 22px, $primary-color-text);
    }
    .receive_call {
      display: flex;
      margin-top: 40px;
      &_bar{
        margin: 0 30px;
        @include dimension(60px,60px);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .reject {
        background-color: $color-red-01;
        font-size: 22px;
        img{
            transform: translateY(2px);
        }
      }
      .phone {
        background-color: #3BB873;
        font-size: 25px;
        i{
          transform: translateY(1px);
        }
      }
    }
    .connecting-avatar-container{
      display: flex;
    .connecting {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 127px;
      img{
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
      .avatar{
        @include dimension(200px, 200px);
        img{
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        p{
          @include styleText(700, 22px, 16px, $primary-color-text);
          text-align: center;
          margin-bottom: 0px;
          margin-top: 20px;
        }

      }
    }
  }
  &:hover {
    .tool_bar{
      opacity: 1;
      transform: translateY(-20px);
    }
    .ic_full-screen{
      opacity: 1;
    }
  }
  .tool_bar{
    transition: all 0.2s linear;
    position: absolute;
    opacity: 0;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    &-leave {
      background-color: $color-red-01;
      padding: 5px 15px;
      border-radius: 17px;
      margin: 0 10px;
      cursor: pointer;
      img{
        width: 20px;
        height: 20px;
        object-fit: cover;
      }
    }
    &-item{
      @include dimension(40px,40px);
      border-radius: 50%;
      background-color: $color-blue-04;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    .camera i{
      transform: translateY(1px);
    }
    .bg_white{
      background-color: $color-blue-02 !important;
    }
    .screen_cast{
      img{
        @include dimension(24px, 24px);
      }
    }
  }
  .ic_full-screen{
    @include positionAbsolute(0,0,unset,unset);
    transition: all 0.2s linear;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: $color-white-opacity-02;
    @include flexMiddle();
    border-radius: 30px;
    i{
      @include styleText(900, 70px, 70px, $primary-color-white);
      cursor: pointer;
    }
    z-index: 1;
  }
}
.window-scale{
  scale: 0.3;
  right: 0 !important;
  top: 0;
  transform: translate(-30%, -100%);

}
.window-full-screen{
  scale: 1;
}