@import "src/Assets/css/base";
.my_view {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 101;

}
.participant_view {
  gap: 5px;
  margin-bottom: 10px;
  scale: 0.95;
  video {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}