@import "src/Assets/css/base";

.message_item {
  padding: 16px 25px 16px 15px;
  @include dimension(83px);
  align-items: center;

  &-round {
    border-radius: 16px;
  }
  &-bgBlue{
    background-color: $color-blue-01;
  }
  &-bgWhite{
    background-color: $primary-color-white;
  }

  .message-wrapper {
    display: flex;
    justify-content: space-between;
    @include dimension(222px, 100%);
    align-items: center;
    .message-chat_message {
      h5 {
        margin: 0;
      }
      &-clWhite{
        @include styleText(600, 14px, 19px, $primary-color-white);
      }
      &-clGrey{
        @include styleText(600, 14px, 19px, $primary-color-subtext);
      }
    }
  }


}