@import "src/Assets/css/base";

.message_container {
  width: 100%;
  display: flex;
  padding: 2px 25px;
  align-items: center;
  position: relative;
  margin-bottom: 5px;
  .message_link {
    max-width: 50%;
    max-height: 450px;
  }
  .message_avatar {
    @include dimension(40px, 40px);
    margin-right: 7px;
    transform: translateY(2px);
    img{
      width: 100%;
      height: 100%;
      @include dimension(100%, 100%);
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
.mes_call {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
}

.message_container-flexRight {
  justify-content: right;
}

.message_container-flexleft {
  justify-content: left;
}

.image_container {
  .flex-container{
    max-width: 50%;
    flex-wrap: wrap;
    //padding: 8px;
  }
  .image_item {
    @include dimension(94px, 94px);
    margin: 5px 3px;
    cursor: pointer;
    border-radius: 7px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px;
    }
    &:hover {
      background-color: $primary-color-white;
    }
  }

}

.message_item {
  padding: 12px 20px;
  max-width: 50%;
  height: 100%;
  //position: relative;
  &-round {
    border-radius: 16px;
  }

  &-bgBlue {
    background-color: $color-blue-01;
  }

  &-bgWhite {
    background-color: $primary-color-white;
  }

  .msg {
    word-break: break-word;
  }
  &-video {
    max-height: 200px;
    max-width: 250px;
    video {
      width: 100%;
      height: 100%;
      //max-height: 200px;
      //width: 158px;
      //width: auto;
      border-radius: 16px;
    }
  }

  .message {
    margin: 0;

    &-myMessage {
      @include styleText(600, 14px, 19px, $primary-color-white);
    }

    &-peopleMessage {
      @include styleText(600, 14px, 19px, $color-grey-01);
    }
  }
}

.image_detail-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-black-opacity-09;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    object-fit: cover;
    max-width: 85%;
    max-height: 85%;
  }
  .ic_close, .ic_download {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 5px;
    transform: translate(-50%, 25%);
    border-radius: 50%;
    @include dimension(40px, 40px);
    i{
      font-size: 40px;
      color: white;
      @include dimension(40px, 40px);
      display: block;
      &:before{
        transform: translateY(-10px);
      }
    }
    &:hover {
      background-color: #999999;
    }
  }
  .ic_download{
    right: 70px;
    top: 15px;
    top: 10px;
    @include dimension(35px, 35px);
    i{
      font-size: 20px;
      &:before{
        transform: translate(7px, 5px);
      }
    }
  }
}

.video_call-wrapper{
  cursor: pointer;
  border-radius: 16px;
  background-color: $primary-color-white;
  padding: 12px 20px;
  @include flexMiddle();
  .ic_video_call {
    position: relative;
    padding: 20px;
    border-radius: 50%;
    background-color: $color-green-01;
    @include dimension(50px, 50px);
    @include flexMiddle();
    margin-right: 20px;
    i{
      @include styleText(900, 18px, 20px, $primary-color-white);
      transform: translateY(1px);
    }
  }
  .ic_bg-red{
    background-color: $color-red-01;
  }
  .main-content {
    h4{
      @include styleText(700, 18px, 20px, $primary-color-text);
      margin-bottom: 7px;
    }
    h5{
      @include styleText(500, 16px, 18px, $primary-color-subtext);
      margin-bottom: 0;
    }
  }
}
.message_avatar {
  @include dimension(40px, 40px);
  margin-right: 7px;
  transform: translateY(2px);
  img{
    width: 100%;
    height: 100%;
    @include dimension(100%, 100%);
    object-fit: cover;
    border-radius: 50%;
  }
}
.author_chat{
  @include positionAbsolute(0px, 0px, unset, unset);
  @include styleText(500, 12px, 16px, $color-grey-01);
  //transform: translate(10px, -100%);
  transform: translate(80px, -50%);
  display: inline-block;
  max-width: 10ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.call_failed {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-100%);
}